body{
  /*margin: 0px;*/
  font-family: 'Exo', sans-serif;
  background-image: url('../img/background-azul.png');
  /*background-color: #ffa64d;*/
}
.carta, .pontuada{
  width: 150px;
  height: 130px;
  display: inline-block;
  margin-right: 5px;
}
.pontuada{
  opacity: 0.5;
  cursor: no-drop;
}
header .panel{
  margin-bottom: 0px;
  margin-top: 10px;
}
#tempo{
  padding-top: 10px;
  font-weight: bold;
}
#tempo h3{
  margin: 0px;
  top: 6px;
}
#tabuleiro{
  margin: 20px 0px;
  text-align: center;
}
header{
  text-align: center;
}
header button{
  position: relative;
  top: 20px;
}
.relogio{
  display: inline;
  font-size: 20px;
}
#Centesimas{
  font-size: 15px;
}
header .container{
  padding: 0px;
  background-color: #802b00;
}
.container, .container-tab{
  width: 50%;
  margin: 0 auto;
  /*background-image: url("../img/background-azul.png");*/
  background-color: #00ace6;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 1px 5px 20px #888888;
}
.container-tab{
  float: right;
  position: relative;
  right: 25%;
}
.change-player{
  margin-left: 5px;
}
#view-info{
  display: inline-grid;
  margin: 0px 20px;
}
.well{
  margin: 0px;
}
.panel{
  background-color: unset;
  border: none;
}
.panel-body{
  padding: 5px 0px;
}
@media (max-width: 1300px) {
  .container{
    width: 650px;
  }
}




/* CSS DO RANKING*/

.ranking{
  width: 20%;
  float: left;
  margin-left: 50px;
  position: relative;
  top: -90px;
}

.points_table thead {
	width: 100%;
}

.points_table tbody {
	height: 562px;
	overflow-y: auto;
	width: 100%;
}

.points_table thead tr{
	width: 99%;
}

 .points_table tr{
 	width: 100%;
 }

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
	display: inline-block;
}

.points_table thead{
	background: #d91f2d;
	color: #fff;
}

.points_table tbody td, .points_table thead > tr> th{
	float: left;
	border-bottom-width: 0;
}

.points_table>tbody>tr>td, .points_table>tbody>tr>th, .points_table>tfoot>tr>td, .points_table>tfoot>tr>th, .points_table>thead>tr>td, .points_table>thead>tr>th{
	padding: 8px;
	height: 50px;
	text-align: center;
	line-height: 32px;
}

.odd {
	background: #ffffff;
	color: #000;
}

.even {
	background: #efefef;
	color: #000;
}

.points_table_scrollbar{
	height: 612px;
	overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

.points_table_scrollbar::-webkit-scrollbar{
	width: 1%;
	min-width: 5px;
	background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}
#title-rank{
  padding: 10px;
  background-color: #d91f2d;
  color: white;
  text-align: center;
  margin: 0px 0px 5px 0px;
}
